include README.md
include setup.py

include xlsxio/*.pyx
include xlsxio/*.pxd
exclude xlsxio/*.c

include deps/xlsxio-0.2.26/lib/*.c
include deps/xlsxio-0.2.26/lib/*.h
include deps/xlsxio-0.2.26/include/*.h

