include README.md
include setup.py

global-include xlsxio/*.c
global-include xlsxio/*.pyx
global-include xlsxio/*.pxd

global-include deps/xlsxio/lib/*.[ch]
global-include deps/xlsxio/include/*.h

global-include deps/expat/expat/lib/*.[ch]

global-include deps/zlib/*.[ch]
global-include deps/zlib/contrib/minizip/*.[ch]
